asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework_simplejwt
drf-yasg
idna
inflection
packaging
psycopg2-binary
PyJWT
python-dotenv
pytz
PyYAML
requests
shortuuid
sqlparse
sslcommerz-lib
tzdata
uritemplate
urllib3
whitenoise