asgiref
black
click
decorator
Django
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework-simplejwt
drf-yasg
imageio
imageio-ffmpeg
inflection
iniconfig
moviepy
mypy-extensions
numpy
packaging
pathspec
pillow
platformdirs
pluggy
proglog
psycopg2-binary
PyJWT
pytest
pytest-django
python-dotenv
pytz
PyYAML
setuptools
shortuuid
sqlparse
tqdm
uritemplate
